/* 住户管理模块样式 residentmgr */
.residentmgr .layui-table tr {
    /* display: inline-block;
    margin-bottom: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6; */
}

.residentmgr .layui-table td.label {
    padding-left: 2px;
    padding-right: 5px;
}
.residentmgr .layui-table td {
    padding: 0;
    border-color: #000;
    word-break: keep-all;
}

.residentmgr .layui-table select {
    min-width: 48px;
    height: 38px;
    padding: 0;
}
.residentmgr .layui-table textarea {
    text-align: left;
    min-height: 38px;
    height: 38px;
    padding: 0;
}
.residentmgr .layui-table textarea[placeholder] {
    padding: 10px;
}

.residentmgr .layui-table .layui-input {
    min-width: 100px;
    padding-left: 1px;
}