<div class="table_container" id="dyn_{{dynId}}">
    <table class="layui-table">
        <tbody>

            <!-- row-1 -->
            <tr>
                <td class="label">姓名</td>
                <td>
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入姓名"
                        class="layui-input" id="name_{{dynId}}">
                </td>
                <td class="label">与户主关系</td>
                <td> <select name="relation" lay-verify="required" title="户主配偶" id="relation_{{dynId}}">
                        <option>户主配偶</option>
                        <option>户主子女</option>
                        <option>户主父母</option>
                        <option>户主兄妹</option>
                    </select>
                </td>
                <td class="label">性别</td>
                <td>
                    <select name="gender" lay-verify="required" id="gender_{{dynId}}">
                        <option>男</option>
                        <option>女</option>
                    </select>
                </td>

                <td class="label">民族</td>
                <td>
                    <select name="nation" lay-verify="required" title="汉族" id="nation_{{dynId}}">
                        <option title="汉族">汉族</option>
                        <option title="壮族">壮族</option>
                        <option title="藏族">藏族</option>
                        <option title="裕固族">裕固族</option>
                        <option title="彝族">彝族</option>
                        <option title="瑶族">瑶族</option>
                        <option title="锡伯族">锡伯族</option>
                        <option title="乌孜别克族">乌孜别克族</option>
                        <option title="维吾尔族">维吾尔族</option>
                        <option title="佤族">佤族</option>
                        <option title="土家族">土家族</option>
                        <option title="土族">土族</option>
                        <option title="塔塔尔族">塔塔尔族</option>
                        <option title="塔吉克族">塔吉克族</option>
                        <option title="水族">水族</option>
                        <option title="畲族">畲族</option>
                        <option title="撒拉族">撒拉族</option>
                        <option title="羌族">羌族</option>
                        <option title="普米族">普米族</option>
                        <option title="怒族">怒族</option>
                        <option title="纳西族">纳西族</option>
                        <option title="仫佬族">仫佬族</option>
                        <option title="苗族">苗族</option>
                        <option title="蒙古族">蒙古族</option>
                        <option title="门巴族">门巴族</option>
                        <option title="毛南族">毛南族</option>
                        <option title="满族">满族</option>
                        <option title="珞巴族">珞巴族</option>
                        <option title="僳僳族">僳僳族</option>
                        <option title="黎族">黎族</option>
                        <option title="拉祜族">拉祜族</option>
                        <option title="柯尔克孜族">柯尔克孜族</option>
                        <option title="景颇族">景颇族</option>
                        <option title="京族">京族</option>
                        <option title="基诺族">基诺族</option>
                        <option title="回族">回族</option>
                        <option title="赫哲族">赫哲族</option>
                        <option title="哈萨克族">哈萨克族</option>
                        <option title="哈尼族">哈尼族</option>
                        <option title="仡佬族">仡佬族</option>
                        <option title="高山族">高山族</option>
                        <option title="鄂温克族">鄂温克族</option>
                        <option title="俄罗斯族">俄罗斯族</option>
                        <option title="鄂伦春族">鄂伦春族</option>
                        <option title="独龙族">独龙族</option>
                        <option title="东乡族">东乡族</option>
                        <option title="侗族">侗族</option>
                        <option title="德昂族">德昂族</option>
                        <option title="傣族">傣族</option>
                        <option title="达斡尔族 ">达斡尔族</option>
                        <option title="朝鲜族">朝鲜族</option>
                        <option title="布依族">布依族</option>
                        <option title="保安族">保安族</option>
                        <option title="布朗族">布朗族</option>
                        <option title="白族">白族</option>
                        <option title="阿昌族">阿昌族</option>
                    </select>
                </td>
                <td class="label">文化程度</td>
                <td>
                    <select name="education" lay-verify="required" title="博士" id="education_{{dynId}}">
                        <option title="博士">博士</option>
                        <option title="研究生">研究生</option>
                        <option title="硕士">硕士</option>
                        <option title="大学本科">大学本科</option>
                        <option title="大学专科">大学专科</option>
                        <option title="中专">中专</option>
                        <option title="高中">高中</option>
                        <option title="小学">小学</option>
                        <option title="文盲或半盲">文盲或半盲</option>
                        <option title="学龄前儿童">学龄前儿童</option>
                    </select>
                </td>
                <td class="label">户口性质</td>
                <td>
                    <select name="household_type" lay-verify="required" title="居民家庭户口" id="household_type_{{dynId}}">
                        <option>居民家庭户口</option>
                        <option>非农业户口</option>
                        <option>农业户口</option>
                        <option>军人</option>
                        <option>其他</option>
                    </select>
                </td>
                <td class="label">政治面貌</td>
                <td>
                    <select name="politics" lay-verify="required" title="中国共产党党员" id="politics_{{dynId}}">
                        <option>中国共产党党员</option>
                        <option>群众</option>
                        <option>中国共产党预备党员</option>
                        <option>中国共产主义青年团团员</option>
                        <option>中国国民党革命委员会会员</option>
                        <option>中国民主同盟盟员</option>
                        <option>中国民主建国会会员</option>
                        <option>中国民主促进会会员</option>
                        <option>中国农工民主党党员</option>
                        <option>中国致公党党员</option>
                        <option>九三学社社员</option>
                        <option>台湾民主自治同盟盟员</option>
                        <option>无党派民主人士</option>
                        <option>其他党派</option>
                    </select>
                </td>
            </tr>

            <!-- row-2 -->
            <tr>
                <td class="label">入党时间</td>
                <td>
                    <input type="text" name="join_party_date_{{dynId}}" class="layui-input"
                        id="join_party_date_{{dynId}}">
                </td>
                <td>宗教信仰</td>
                <td>
                    <select name="religion" lay-verify="required" title="佛教" id="religion_{{dynId}}">
                        <option>佛教</option>
                        <option>基督教</option>
                        <option>伊斯兰教</option>
                        <option>犹太教</option>
                        <option>印度教</option>
                        <option>其他教</option>
                    </select>
                </td>
                <td class="label">户籍地址</td>
                <td colspan="3">
                    <textarea name="domicile_address" required lay-verify="required" placeholder="请输入户籍地址"
                        id="domicile_address_{{dynId}}" class="layui-textarea"></textarea>
                </td>
                <td class="label">户籍转入时间</td>
                <td>
                    <input type="text" class="layui-input" name="domicile_chkin_date_{{dynId}}"
                        id="domicile_chkin_date_{{dynId}}">
                </td>
                <td class="label">户籍转出时间</td>
                <td>
                    <input type="text" class="layui-input" name="domicile_chkout_date_{{dynId}}"
                        id="domicile_chkout_date_{{dynId}}">
                </td>
                <td class="label">出生日期</td>
                <td>
                    <input type="text" class="layui-input" name="birth_date_{{dynId}}" id="birth_date_{{dynId}}">
                </td>
            </tr>

            <!-- row-3 -->
            <tr>
                <td class="label">年龄</td>
                <td>
                    <input type="text" name="age" required lay-verify="required" placeholder="请输入年龄" class="layui-input"
                        id="age_{{dynId}}">
                </td>
                <td>身份证号码</td>
                <td colspan="3">
                    <input type="text" name="ID_numbers" required lay-verify="required" placeholder="请输入身份证号码"
                        class="layui-input" id="ID_numbers_{{dynId}}">
                </td>
                <td class="label">联系电话</td>
                <td>
                    <input type="text" name="phone_number" required lay-verify="required" placeholder="请输入联系电话"
                        class="layui-input" id="phone_number_{{dynId}}">
                </td>
                <td class="label">工作单位及职务</td>
                <td colspan="3">
                    <textarea name="organization_position" required lay-verify="required" placeholder="请输入工作单位及职务"
                        id="organization_position_{{dynId}}" class="layui-textarea"></textarea>
                </td>
                <td class="label">居住状况</td>
                <td>
                    <select name="residence_status" lay-verify="required" title="常住,户在" id="residence_status_{{dynId}}">
                        <option>常住,户在</option>
                        <option>常住,户不在</option>
                        <option>不住,户在</option>
                        <option>空挂</option>
                        <option>暂住</option>
                        <option>搬走</option>
                        <option>其他</option>
                    </select>
                </td>
            </tr>

            <!-- row-4 -->
            <tr>
                <td class="label">健康状况</td>
                <td>
                    <select name="heath_status" lay-verify="required" title="健康或良好" id="heath_status_{{dynId}}">
                        <option>健康或良好</option>
                        <option>一般或较弱</option>
                        <optgroup label="有慢性病">
                            <option>心血管病</option>
                            <option>脑血管病</option>
                            <option>慢性呼吸系统病</option>
                            <option>慢性消化系统病</option>
                            <option>慢性肾炎</option>
                            <option>结核病</option>
                            <option>糖尿病</option>
                            <option>神经或精神疾病</option>
                            <option>其他慢性病</option>
                        </optgroup>
                        <optgroup label="有生理缺陷">
                            <option>聋哑</option>
                            <option>盲人</option>
                            <option>高度近视</option>
                            <option>其他慢性病</option>
                        </optgroup>

                        <optgroup label="视力残疾">
                            <option>视力残疾一级</option>
                            <option>视力残疾二级</option>
                            <option>视力残疾三级</option>
                            <option>视力残疾四级</option>
                        </optgroup>
                        <optgroup label="听力残疾">
                            <option>听力残疾一级</option>
                            <option>听力残疾二级</option>
                            <option>听力残疾三级</option>
                            <option>听力残疾四级</option>
                        </optgroup>
                        <optgroup label="言语残疾">
                            <option>言语残疾一级</option>
                            <option>言语残疾二级</option>
                            <option>言语残疾三级</option>
                            <option>言语残疾四级</option>
                        </optgroup>
                        <optgroup label="肢体残疾">
                            <option>肢体残疾一级</option>
                            <option>肢体残疾二级</option>
                            <option>肢体残疾三级</option>
                            <option>肢体残疾四级</option>
                        </optgroup>
                        <optgroup label="智力残疾">
                            <option>智力残疾一级</option>
                            <option>智力残疾二级</option>
                            <option>智力残疾三级</option>
                            <option>智力残疾四级</option>
                        </optgroup>
                        <optgroup label="精神残疾">
                            <option>精神残疾一级</option>
                            <option>精神残疾二级</option>
                            <option>精神残疾三级</option>
                            <option>精神残疾四级</option>
                        </optgroup>
                        <optgroup label="军残">
                            <option>军残一级</option>
                            <option>军残二级</option>
                            <option>军残三级</option>
                            <option>军残四级</option>
                            <option>军残五级</option>
                            <option>军残六级</option>
                            <option>军残七级</option>
                            <option>军残八级</option>
                            <option>军残九级</option>
                            <option>军残十级</option>
                        </optgroup>
                        <optgroup label="多重或者其他残疾">
                            <option>多重残疾</option>
                            <option>其他残疾</option>
                        </optgroup>
                        <option>死亡</option>
                    </select>
                </td>
                <td class="label">医保情况</td>
                <td>
                    <select name="medical_insurance" lay-verify="required" title="城镇职工" id="medical_insurance_{{dynId}}">
                        <option>城镇职工</option>
                        <option>城乡居民</option>
                        <option>新农合</option>
                        <option>商业</option>
                        <option>无</option>
                        <option>其他</option>
                    </select>
                </td>
                <td class="label">养老保险</td>
                <td>
                    <select name="endowment_insurance" lay-verify="required" title="城镇职工" id="endowment_insurance_{{dynId}}">
                        <option>城镇职工</option>
                        <option>城乡居民</option>
                        <option>新农合</option>
                        <option>商业</option>
                        <option>无</option>
                        <option>其他</option>
                    </select>
                </td>
                <td class="label">有无就业意向</td>
                <td>
                    <select name="is_job_will" lay-verify="required" title="有" id="is_job_will_{{dynId}}">
                        <option>有</option>
                        <option>无</option>
                    </select>
                </td>
                <td class="label">婚姻状况</td>
                <td>
                    <select name="married_status" lay-verify="required" title="未婚" id="married_status_{{dynId}}">
                        <option>未婚</option>
                        <optgroup label="已婚">
                            <option>初婚</option>
                            <option>再婚</option>
                            <option>复婚</option>
                            <option>丧偶</option>
                            <option>离婚</option>
                            <option>其他</option>
                        </optgroup>
                    </select>
                </td>

                <td class="label">初/离/再婚 日期</td>
                <td>
                    <input type="text" class="layui-input" name="married_date_{{dynId}}" id="married_date_{{dynId}}">
                </td>
                <td class="label">是否为独生子女</td>
                <td>
                    <select name="is_only_child" lay-verify="required" title="是" id="is_only_child_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>

            </tr>

            <!-- row-5 -->
            <tr>
                <td class="label">是否领独生子女证(证号)</td>
                <td>
                    <select name="is_have_only_child_certificate" lay-verify="required" title="是"
                        id="is_have_only_child_certificate_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">节育措施</td>
                <td>
                    <input type="text" name="birth_control" required lay-verify="required" placeholder="请输入节育措施"
                        class="layui-input" id="birth_control_{{dynId}}">

                </td>
                <td class="label">是否有要二孩的计划</td>
                <td>
                    <select name="is_have_second_child_plan" lay-verify="required" title="是"
                        id="is_have_second_child_plan_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">人口类型</td>
                <td>
                    <select name="population_type" lay-verify="required" title="村民" id="population_type_{{dynId}}">
                        <optgroup label="户籍人口">
                            <option>村民</option>
                            <option>居民</option>
                        </optgroup>
                        <optgroup label="流动人口">
                            <option>跨省</option>
                            <option>跨市</option>
                            <option>跨县</option>
                            <option>跨区</option>
                        </optgroup>
                        <option>其他人口</option>
                    </select>
                </td>
                <td class="label">住房性质</td>
                <td>
                    <select name="housing_type" lay-verify="required" title="自住" id="housing_type_{{dynId}}">
                        <option>自住</option>
                        <option>出租</option>
                        <option>未售</option>
                        <option>公建</option>
                        <option>其他</option>
                    </select>
                </td>

                <td class="label">住房面积(平米)</td>
                <td>
                    <input type="text" name="housing_area" required lay-verify="required" placeholder="请输入住房面积"
                        class="layui-input" id="housing_area_{{dynId}}">
                </td>
                <td class="label">购房时间</td>
                <td>
                    <input type="text" class="layui-input" name="buy_house_date_{{dynId}}"
                        id="buy_house_date_{{dynId}}">
                </td>
            </tr>


            <!-- row-6 -->
            <tr>
                <td class="label">是否有房产证</td>
                <td>
                    <select name="is_have_house_certificate" lay-verify="required" title="是"
                        id="is_have_house_certificate_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">是否有车</td>
                <td>
                    <select name="is_have_car" lay-verify="required" title="是" id="is_have_car_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>

                <td class="label">是否低保户</td>
                <td>
                    <select name="is_living_guarantee" lay-verify="required" title="是" id="is_living_guarantee_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>

                <td class="label">是否空巢</td>
                <td>
                    <select name="is_empty_nest" lay-verify="required" title="是" id="is_empty_nest_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">是否独居</td>
                <td>
                    <select name="is_live_alone" lay-verify="required" title="是" id="is_live_alone_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">是否离巢</td>
                <td>
                    <select name="is_leave_nest" lay-verify="required" title="是" id="is_leave_nest_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">是否愿意参与社区管理</td>
                <td>
                    <select name="is_want_community_mgr" lay-verify="required" title="是" id="is_want_community_mgr_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
            </tr>


            <!-- row-7 -->
            <tr>
                <td class="label">是否愿意参加社区文化活动</td>
                <td>
                    <select name="is_want_community_activity" lay-verify="required" title="是" id="is_want_community_activity_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">是否愿意加入社区志愿者队伍</td>
                <td>
                    <select name="is_want_community_volunteer" lay-verify="required" title="是" id="is_want_community_volunteer_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>

                <td class="label">有无加入党组织意向</td>
                <td>
                    <select name="is_join_party" lay-verify="required" title="是" id="is_join_party_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>

                <td class="label">是否养犬</td>
                <td>
                    <select name="is_domestication_dog" lay-verify="required" title="是" id="is_domestication_dog_{{dynId}}">
                        <option>是</option>
                        <option>否</option>
                    </select>
                </td>
                <td class="label">户籍转入时间</td>
                <td>
                    <input type="text" class="layui-input" id="domicile_chkin_2_date_{{dynId}}">
                </td>
                <td class="label">户籍转出时间</td>
                <td>
                    <input type="text" class="layui-input" id="domicile_chkout_2_date_{{dynId}}">
                </td>
                <td class="label">最新入户时间</td>
                <td>
                    <input type="text" class="layui-input" id="latest_register_date_{{dynId}}">
                </td>

            </tr>

            <!-- row-8 -->
            <tr>
                <td class="label">对社区的建议</td>
                <td colspan="13">
                    <textarea name="community_proposal" required lay-verify="required" placeholder="建议"
                        class="layui-textarea" id="community_proposal_{{dynId}}"></textarea>
                </td>
            </tr>

            <!-- row-9 -->
            <tr>
                <td class="label">备注</td>
                <td colspan="13">
                    <textarea name="remark" required lay-verify="required" placeholder="备注"
                        class="layui-textarea" id="remark_{{dynId}}"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--  -->
<script>
    $(function () {
        // 解决option文本过长问题
        $("select").on('change', function (evt) {
            var tar = evt.target;
            var checkText = $(tar).find("option:selected").text();
            $(tar).attr("title", checkText);
        });
        // 绑定并实例layui日期控件
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#join_party_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });

            laydate.render({
                elem: '#domicile_chkin_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });

            laydate.render({
                elem: '#domicile_chkout_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });

            laydate.render({
                elem: '#birth_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });

            laydate.render({
                elem: '#married_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });

            laydate.render({
                elem: '#buy_house_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });
            laydate.render({
                elem: '#domicile_chkin_2_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });
            laydate.render({
                elem: '#domicile_chkout_2_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });
            laydate.render({
                elem: '#latest_register_date_{{dynId}}',
                zIndex: 99999999,
                trigger: 'click'
            });
        });
    });
</script>
