{% extends "admin/bases.html" %}
{% block content %}
<script type="text/javascript" src="{{url_for('static',filename='js/lib/layui/layui.js',tsc=tscv)}}"></script>
<div style="margin:20px; height: 120px;">
  <form method="post" class="layui-form" >
  <div class="layui-form-item"><label class="layui-form-label">小区名称:</label><div class="layui-input-block">
      {{form.xiaoqu_option}}
    </div></div>
    <div class="layui-form-item"><label class="layui-form-label">楼号:</label><div class="layui-input-block">
      {{form.Lou_number}}
    </div></div>
    <div class="layui-form-item"><div class="layui-input-block">
        {{ form.csrf_token }} {{form.submit}}
    </div></div>

     
      {% for message in get_flashed_messages() %}
      <script>
          layui.use('layer', function() {
              var layer = layui.layer;
              layer.msg('{{ message }}');
          });
      </script>
      {% endfor %}
  </form>
  <script>
      function getUrlParam(name) {
             var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); 
             var r = window.location.search.substr(1).match(reg);  
             if (r != null) return unescape(r[2]); return null;
      }
      var mes=getUrlParam('status');
      if(mes=='success'){
        setTimeout(function(){
         window.parent.location.reload();//刷新父页面
         parent.layer.close(0);//关闭弹出层
        },500)
      }
 </script>
</div>


{% endblock %}