{% extends "admin/bases.html" %}
<!--  -->
{% import "admin/_resident_frm.html" as frm %}
<!--  -->
{% block content %}
<!--  -->
<div class="x-body residentmgr">
    <div class="layui-row">
        <button class="layui-btn layui-btn-normal" id="btn_crt_member_frm">创建家庭成员信息</button>
        <div class="table_container">
            <p>房主家庭成员基本信息</p>
            {{ frm.create_frm() }}
        </div>
    </div>
</div>

<!-- js脚本 -->
<script>
    var ts = new Date().valueOf();
</script>
<script type="text/javascript" src="{{url_for('static',filename='js/residentmgr.js', tsc=tscv)}}"></script>

<!--  -->
{% endblock %}